body {
    background-color: rgb(250, 250, 250);
    margin: 0;
}
.container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}